<div>
  <div class="container">
    <!--task statistics-->
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
      <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
        <app-stat [bgClass]="'total-build'" [icon]="'build'" [count]="this.totalBuildAttempt"
                  [label]="'Build Attempts'"></app-stat>
      </div>
      <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
        <app-stat [bgClass]="'success'" [icon]="'check_circle'" [count]="this.totalBuildSuccess"
                  [label]="'Build Success'"></app-stat>
      </div>
      <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
        <app-stat [bgClass]="'failed'" [icon]="'error'" [count]="this.totalFailedBuild"
                  [label]="'Build Failed'"></app-stat>
      </div>
      <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
        <app-stat [bgClass]="'average-time'" [icon]="'watch_later'" [count]="this.averageBuildTime"
                  [label]="'Average Build Time'"></app-stat>
      </div>
    </div>
    <mat-divider></mat-divider>
    <span mat-line></span>
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple"
    >
      <p style="font-size: 20px; color: white">{{loadingMessage}}</p>
    </ngx-spinner>
    <!--task list-->
    <br>
    <mat-card class="example-card">
      <div fxLayout fxLayoutAlign="center center">
        <mat-form-field fxFlex="60%" appearance="outline">
          <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
          </button>
          <input matInput type="text" (keyup)="doFilter($event.target)" placeholder="Search Compiled Java Projects">
        </mat-form-field>
      </div>
    </mat-card>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
      <div fxFlex="100">
        <div class="mat-elevation-z8">
          <mat-paginator [pageSize]="10"
                         [pageSizeOptions]="[10, 20, 30, 40]"
                         showFirstLastButtons>
          </mat-paginator>
          <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
            <ng-container matColumnDef="Repository">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Repository</th>
              <td mat-cell *matCellDef="let element">
                <a href="https://github.com/{{element.owner}}/{{element.repository}}" target="_blank"> {{element.owner}}
                  /{{element.repository}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="java_files">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Java Files</th>
              <td mat-cell *matCellDef="let element"> {{element.java_files}} </td>
            </ng-container>

            <ng-container matColumnDef="jars">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Contained Jars</th>
              <td mat-cell *matCellDef="let element"> {{element.jars}} </td>
            </ng-container>

            <ng-container matColumnDef="build_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Existing Build Types</th>
              <td mat-cell *matCellDef="let element"> {{element.build_type}} </td>
            </ng-container>
            <ng-container matColumnDef="class_files">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Compiled Files</th>
              <td mat-cell *matCellDef="let element"> {{element.class_files}} </td>
            </ng-container>
            <ng-container matColumnDef="build_version">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Build Version</th>
              <td mat-cell *matCellDef="let element">
                <a href="https://github.com/{{element.owner}}/{{element.repository}}/tree/{{element.commit_sha}}"
                   target="_blank">{{element.commit_sha}}</a></td>
            </ng-container>
            <ng-container matColumnDef="build_time_stamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Build On</th>
              <td mat-cell *matCellDef="let element"> {{element.build_time_stamp | date:'medium'}} </td>
            </ng-container>

            <ng-container matColumnDef="Build_Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Build Status</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip *ngIf="element.success" color="accent" selected>
                    Success
                  </mat-chip>
                  <mat-chip *ngIf="!element.success" color="warn" selected>
                    Failed
                  </mat-chip>
                </mat-chip-list>
              </td>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>View Details</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="showBuildResponse(element)">
                  <mat-icon mat-list-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

      </div>
    </div>
    <br>
    <!-- chart-->
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch">
      <!--      <app-bar-chart fxFlex.gt-sm="49" class="mb15"></app-bar-chart>-->
      <!--      <app-donut-chart fxFlex.gt-sm="49" class="mb15"></app-donut-chart>-->
    </div>
    <mat-divider></mat-divider>
    <br>
    <br>
    <br>
  </div>
</div>

