@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

$my-primary: #008b00;
$my-accent: #e54304;

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);
@include mat.strong-focus-indicators-theme($my-theme);
