.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.success{
  color: darkgreen;
  text-align: center;
}

.failed{
  color: darkred;
  text-align: center;
}
.mat-dialog-actions{
  justify-content: center;
}
table, th, td {
  border: 1px black;
}


